.total-number {
    font-size: 3rem;
    justify-content: center;
    display: flex;
    font-size: 40pt;
    font-weight: 700;
  }

  .total-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    align-items: center;
  }

  .total-label{
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .total-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
  }

  .data-percentege {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
   }



  


