.label-grey{
    font-weight: 700;
    font-size: 14px;
}

.overview-total{
    font-weight: 700;
    font-size: 2em;
    margin-right: 10px;
    
}
 
.right-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;             
}